<header>
  <nav>
    <ul>
      <li>
        <a href="/">home</a>
      </li>
      <li>
        <a href="/weather">weather</a>
      </li>
      <li>
        <a href="/blogs">blogs</a>
      </li>
      <li>
        <a href="/about">about</a>
      </li>
      <li>
        <a href="/service">service</a>
      </li>

    </ul>
  </nav>
</header>